body{
    background-repeat:no-repeat;
    background-color: #efefef;
}
.main {
    background-color: white;
    margin: 50px;
}
.btn-publish {
    float: right;
    margin-bottom: 20px;
}
.danger {
    width: 200px;
    text-align: center;
}
.img-thumbnail {
    width: 42px;
    height: 42px;
}

.container-fluid glyphicon-search {
    height: 300px;
}

.text-desc {
    font-size: 15px;
    font-weight: normal;
    color: #999999;
}

.list-group profile {
    margin-top: 20px;
}